.faq-section {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center; /* Center the text horizontally */
  }
  
  .faq-list {
    margin: 0 auto; /* Center the list horizontally */
    max-width: 800px; /* Optional: Limit the width of the FAQ list */
  }
  
  .faq-item {
    margin-bottom: 15px;
  }
  
  .faq-question {
    background-color: #ffa756; /* Blue button background */
    color: #fff; /* White text */
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    position: relative;
  }
  
  .plus-sign {
    position: absolute;
    right: 10px;
    font-size: 20px;
  }
  
  .faq-answer {
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
    background-color: #e9ecef; /* Light gray background */
    border-radius: 5px; /* Rounded corners */
  }
  